.navbar-brand {
  font-size: 2rem;
  font-family: "Lobster", cursive;
  color: black;
}

.navbar-brand:hover {
  color: black;
}

.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  font-family: "Lobster", cursive;
  font-family: "Prompt", sans-serif;
  color: black;
  text-transform: uppercase;
}
.nav-link:hover {
  color: black;
}

.main {
  background: url("./img/bg.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: 50% 50%;
  width: 100%;
}

.main h1 {
  font-size: 4rem;
  font-weight: 700;
}
.btn {
  height: 40px;
  width: 45%;
  border: none;
  outline: none;
  background-color: rgb(248, 26, 92);
  color: white;
  font-weight: 700;
}

.btn:hover {
  background-color: rgb(223, 15, 77);
  transition: 0.5s;
}

.btn2 {
  height: 35px;
  width: 20%;
  border: none;
  outline: none;
  background-color: rgb(248, 26, 92);
  color: white;
  font-weight: 700;
  border-radius: 60px;
}

.btn2:hover {
  background-color: rgb(223, 15, 77);
  transition: 0.5s;
}

.btn3 {
  height: 42px;
  border: none;
  outline: none;
  background-color: rgb(248, 26, 92);
  color: white;
  font-weight: 700;
  border-radius: 60px;
}

.btn3:hover {
  background-color: rgb(223, 15, 77);
  transition: 0.5s;
}

.blog {
  background: url(img/bl.jpg) no-repeat;
  background-size: cover;
  width: 100%;
}
.btn5{
  height: 35px;
  width: 40%;
  border: none;
  outline: none;
  background-color: rgb(248, 26, 92);
  color: white;
  font-weight: 700;
  border-radius: 5px;
}

.btn5:hover {
  background-color: rgb(223, 15, 77);
  transition: 0.5s;
}

.btn4{
  height: 35px;
  width: 20%;
  border: none;
  outline: none;
  background-color: rgb(248, 26, 92);
  color: white;
  font-weight: 700;
  border-radius: 5px;
}

.btn4:hover {
  background-color: rgb(223, 15, 77);
  transition: 0.5s;
}

.footer{
  background-color: black;
  color: white;
}

section {
  padding-top: 5rem;  
}

